*.class
#package file
git git
*.war
*.ear

#kdiff3
*.orig

#maven
target/

#eclipse
.settings/
.project
.classpath

#idea
.idea/
/idea/
*.ipr
*.iml
*.iws

# temp

*.log
*.cache
*.patch
*.diff
*.tmp

#system ignore
.DS_Store
Thumbs.db


